scorecard/score_card_pt_2rapport_email.json
{
  "name": "score card pt 2rapport+email",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// n8n Code node - Automatiseringsrapport Generator v2\nconst input = $input.first().json;\n\n// OpenAI response uitpakken\nlet llmResponse;\nlet data;\nlet llmContent;\n\ntry {\n  if (Array.isArray(input)) {\n    llmResponse = input[0].choices[0].message.content;\n  } else if (input.choices) {\n    llmResponse = input.choices[0].message.content;\n  } else {\n    llmResponse = input;\n  }\n  \n  if (typeof llmResponse === 'string') {\n    llmResponse = JSON.parse(llmResponse);\n  }\n  \n  data = llmResponse.original_data;\n  llmContent = llmResponse.rapport_content;\n  \n  if (!data || !llmContent) {\n    throw new Error(\"Missende data of rapport_content in LLM response\");\n  }\n  \n} catch (error) {\n  console.error(\"Error parsing LLM response:\", error);\n  throw new Error(`Kan LLM response niet verwerken: ${error.message}`);\n}\n\n// Helper functie voor task items met geïntegreerde feedback\nfunction createTaskItem(task, explanation = null) {\n  return `\n    <div class=\"task-wrapper ${explanation ? 'with-feedback' : ''}\">\n      <div class=\"task-item\">\n        <div class=\"task-info\">\n          <div class=\"task-name\">${task.taskEmoji || ''} ${task.taskName}</div>\n          ${task.taskLabel ? `<div class=\"task-label\">${task.taskEmoji || ''} ${task.taskLabel}</div>` : ''}\n          <div class=\"task-hours\">Nu: ${task.hours} uur/maand → Straks: ${task.hours - task.potentialSaving} uur/maand</div>\n        </div>\n        <div class=\"task-saving\">\n          <div class=\"saving-amount\">-${task.potentialSaving} uur</div>\n          <div class=\"efficiency\">${task.savingPercentage}% efficiënter</div>\n        </div>\n      </div>\n      ${explanation ? `\n        <div class=\"feedback-box\">\n          <span class=\"feedback-icon\">💡</span>\n          <span class=\"feedback-text\">${explanation}</span>\n        </div>\n      ` : ''}\n    </div>\n  `;\n}\n\n// Helper voor staafdiagram\nfunction createBarChart(tasks) {\n  if (!tasks || tasks.length === 0) return '';\n  \n  const maxHours = Math.max(...tasks.map(t => t.potentialSaving || 0));\n  const bars = tasks.map(task => {\n    const height = (task.potentialSaving / maxHours) * 80;\n    return `\n      <div class=\"bar\" style=\"height: ${height}%;\">\n        <div class=\"bar-value\">${task.potentialSaving} uur</div>\n        <div class=\"bar-label\">${task.taskName}</div>\n      </div>\n    `;\n  }).join('');\n  \n  return `\n    <div class=\"chart-container\">\n      ${bars}\n    </div>\n  `;\n}\n\n// Helper voor secties\nfunction createSection(title, content, condition = true) {\n  if (!condition || !content) return '';\n  \n  return `\n    <div class=\"section\">\n      <h2 class=\"section-title\">${title}</h2>\n      ${content}\n    </div>\n  `;\n}\n\n// Hoofdfunctie voor HTML generatie\nfunction generateDynamicHTML(data, llmContent) {\n\n  \n  let html = `\n    <!DOCTYPE html>\n    <html lang=\"nl\">\n    <head>\n      <meta charset=\"UTF-8\">\n      <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n      <title>${data.contact_name}, jouw automatiseringsrapport</title>\n      <style>\n        * {\n          margin: 0;\n          padding: 0;\n          box-sizing: border-box;\n        }\n        \n        body {\n          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;\n          background: #f3e8ff;\n          color: #1f2937;\n          line-height: 1.6;\n        }\n        \n        .container {\n          max-width: 800px;\n          margin: 0 auto;\n          padding: 40px 20px;\n        }\n        \n        .header {\n          text-align: center;\n          margin-bottom: 50px;\n        }\n        \n        .logo {\n          font-size: 24px;\n          font-weight: 600;\n          margin-bottom: 30px;\n          color: #7c3aed;\n        }\n        \n        .potential-badge {\n          display: inline-block;\n          background: #ffffff;\n          border: 2px solid #a855f7;\n          border-radius: 50px;\n          padding: 15px 30px;\n          font-size: 24px;\n          font-weight: 700;\n          margin-bottom: 20px;\n          color: #7c3aed;\n          box-shadow: 0 4px 15px rgba(168, 85, 247, 0.1);\n        }\n        \n        .stats-grid {\n          display: grid;\n          grid-template-columns: repeat(3, 1fr);\n          gap: 20px;\n          margin-bottom: 50px;\n        }\n        \n        .stat-card {\n          background: #ffffff;\n          border: 2px solid #e9d5ff;\n          border-radius: 16px;\n          padding: 20px;\n          text-align: center;\n          box-shadow: 0 4px 15px rgba(168, 85, 247, 0.05);\n        }\n        \n        .stat-value {\n          font-size: 36px;\n          font-weight: 700;\n          color: #ec4899;\n          margin-bottom: 5px;\n        }\n        \n        .stat-label {\n          font-size: 14px;\n          color: #6b7280;\n        }\n        \n        .section {\n          margin-bottom: 40px;\n          background: #ffffff;\n          border: 2px solid #e9d5ff;\n          border-radius: 16px;\n          padding: 30px;\n          box-shadow: 0 4px 15px rgba(168, 85, 247, 0.05);\n        }\n        \n        .section-title {\n          font-size: 22px;\n          font-weight: 700;\n          margin-bottom: 20px;\n          color: #7c3aed;\n        }\n        \n        /* Task wrapper voor visuele groepering */\n        .task-wrapper {\n          margin-bottom: 20px;\n          border-radius: 12px;\n          overflow: hidden;\n          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);\n        }\n        \n        .task-wrapper.with-feedback {\n          border: 1px solid #e9d5ff;\n        }\n        \n        .task-item {\n          background: #faf5ff;\n          padding: 20px;\n          display: flex;\n          justify-content: space-between;\n          align-items: center;\n        }\n        \n        .task-info {\n          flex: 1;\n        }\n        \n        .task-name {\n          font-size: 18px;\n          font-weight: 600;\n          margin-bottom: 5px;\n          color: #1f2937;\n        }\n        \n        .task-label {\n          display: inline-block;\n          background: #fce7f3;\n          padding: 4px 12px;\n          border-radius: 20px;\n          font-size: 12px;\n          margin-bottom: 10px;\n          color: #be185d;\n          border: 1px solid #fbcfe8;\n        }\n        \n        .task-hours {\n          font-size: 14px;\n          color: #6b7280;\n        }\n        \n        .task-saving {\n          text-align: right;\n        }\n        \n        .saving-amount {\n          font-size: 24px;\n          font-weight: 700;\n          color: #10b981;\n        }\n        \n        .efficiency {\n          font-size: 14px;\n          color: #6b7280;\n        }\n        \n        /* Feedback box direct verbonden aan task */\n        .feedback-box {\n          background: #dbeafe;\n          padding: 15px 20px;\n          font-size: 14px;\n          color: #1e40af;\n          display: flex;\n          align-items: center;\n          gap: 10px;\n          border-top: 1px solid #93c5fd;\n        }\n        \n        .feedback-icon {\n          flex-shrink: 0;\n          font-size: 18px;\n        }\n        \n        .feedback-text {\n          line-height: 1.5;\n        }\n        \n        /* Niet-automatiseerbare taken styling */\n        .non-auto-task {\n          background: #faf5ff;\n          border-radius: 12px;\n          padding: 20px;\n          margin-bottom: 15px;\n          border: 1px solid #e9d5ff;\n        }\n        \n        .warning-box {\n          background: #fee2e2;\n          border: 1px solid #fca5a5;\n          border-radius: 8px;\n          padding: 15px;\n          margin-top: 10px;\n          font-size: 14px;\n          color: #991b1b;\n        }\n        \n        .chart-container {\n          margin: 30px 0;\n          height: 200px;\n          position: relative;\n          display: flex;\n          align-items: flex-end;\n          justify-content: space-around;\n          gap: 20px;\n        }\n        \n        .bar {\n          flex: 1;\n          background: linear-gradient(to top, #ec4899, #a855f7);\n          border-radius: 8px 8px 0 0;\n          position: relative;\n          max-width: 150px;\n          transition: all 0.3s ease;\n          box-shadow: 0 4px 15px rgba(236, 72, 153, 0.2);\n        }\n        \n        .bar:hover {\n          transform: translateY(-5px);\n          box-shadow: 0 6px 20px rgba(236, 72, 153, 0.3);\n        }\n        \n        .bar-label {\n          position: absolute;\n          bottom: -30px;\n          left: 50%;\n          transform: translateX(-50%);\n          font-size: 12px;\n          white-space: nowrap;\n          color: #6b7280;\n        }\n        \n        .bar-value {\n          position: absolute;\n          top: -25px;\n          left: 50%;\n          transform: translateX(-50%);\n          font-weight: 700;\n          color: #7c3aed;\n        }\n        \n        .cta-section {\n          background: linear-gradient(135deg, #fce7f3 0%, #dbeafe 100%);\n          border: 2px solid #e9d5ff;\n          border-radius: 16px;\n          padding: 40px;\n          text-align: center;\n          margin-top: 50px;\n          box-shadow: 0 4px 15px rgba(168, 85, 247, 0.1);\n        }\n        \n        .cta-button {\n          display: inline-block;\n          background: #ec4899;\n          color: #fff;\n          padding: 15px 40px;\n          border-radius: 50px;\n          text-decoration: none;\n          font-weight: 700;\n          font-size: 18px;\n          transition: all 0.3s ease;\n          box-shadow: 0 4px 15px rgba(236, 72, 153, 0.3);\n        }\n        \n        .cta-button:hover {\n          transform: scale(1.05);\n          box-shadow: 0 6px 25px rgba(236, 72, 153, 0.4);\n        }\n        \n        .insight-box {\n          background: #d1fae5;\n          border: 2px solid #86efac;\n          border-radius: 12px;\n          padding: 20px;\n          margin: 20px 0;\n          color: #064e3b;\n        }\n        \n        .insight-icon {\n          font-size: 24px;\n          margin-right: 10px;\n        }\n        \n        p {\n          color: #4b5563;\n          margin-bottom: 15px;\n        }\n        \n        p:last-child {\n          margin-bottom: 0;\n        }\n        \n        strong {\n          color: #1f2937;\n        }\n        body {\n  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;\n  background: #f3e8ff;\n  color: #1f2937;\n  line-height: 1.6;\n  /* Voeg dit toe: */\n  margin: 0;\n  padding: 0;\n  width: 100%;\n}\n\n.container {\n  max-width: 800px;\n  margin: 0 auto;\n  padding: 40px 20px;\n  /* Voeg dit toe: */\n  page-break-inside: auto;\n}\n      </style>\n    </head>\n    <body>\n      <div class=\"container\">\n  `;\n\n  // HEADER - gebruik LLM intro\nhtml += `\n  <div class=\"header\">\n    <div class=\"logo\">🦙 Alpaca Integrations</div>\n    <h1 style=\"font-size: 36px; margin-bottom: 20px; color: #1f2937;\">\n      ${data.contact_name}, jouw automatiseringsrapport\n    </h1>\n    <div class=\"potential-badge\">${data.automation_potential}</div>\n    <p style=\"font-size: 18px; color: #6b7280; max-width: 600px; margin: 0 auto;\">\n      ${llmContent.intro_tekst}\n    </p>\n  </div>\n`;\n\n  // STATS GRID\n  if (data.summary && data.summary.total_potential_hours_saved > 0) {\n    html += `\n      <div class=\"stats-grid\">\n        <div class=\"stat-card\">\n          <div class=\"stat-value\">${data.summary.total_potential_hours_saved}</div>\n          <div class=\"stat-label\">uren per maand te besparen</div>\n        </div>\n        <div class=\"stat-card\">\n          <div class=\"stat-value\">${data.summary.gemiddelde_besparing_percentage}%</div>\n          <div class=\"stat-label\">gemiddelde efficiëntiewinst</div>\n        </div>\n        <div class=\"stat-card\">\n          <div class=\"stat-value\">${data.summary.total_automatiseerbare_taken}</div>\n          <div class=\"stat-label\">taken te automatiseren</div>\n        </div>\n      </div>\n    `;\n  }\n\n  // TOP TAKEN\n  if (data.top_3_tasks && data.top_3_tasks.length > 0) {\n    let topTasksContent = `<p>${llmContent.top3_intro}</p>`;\n    \n    data.top_3_tasks.forEach((task) => {\n      const explanation = llmContent.taak_uitleg?.[task.taskName];\n      topTasksContent += createTaskItem(task, explanation);\n    });\n    \n    if (data.top_3_tasks.length > 1) {\n      topTasksContent += createBarChart(data.top_3_tasks);\n    }\n    \n    html += createSection('🎯 Hier moet je beginnen - grootste impact', topTasksContent);\n  }\n\n  // OVERIGE AUTOMATISEERBARE TAKEN\n  const overigeTaken = data.all_tasks\n    .filter(t => t.score > 0 && !data.top_3_tasks.some(top => top.taskName === t.taskName))\n    .slice(0, 5);\n  \n  if (overigeTaken.length > 0) {\n    let overigeContent = '<p>Ook deze taken bieden mogelijkheden, maar focus eerst op de top 3:</p>';\n    overigeTaken.forEach(task => {\n      overigeContent += createTaskItem(task);\n    });\n    \n    html += createSection('💡 Overige mogelijkheden', overigeContent);\n  }\n\n  // NIET-AUTOMATISEERBARE TAKEN\n  const nietAutoTaken = data.all_tasks.filter(t => t.score === 0);\n  if (nietAutoTaken.length > 0) {\n    let nietAutoContent = '';\n    \n    nietAutoTaken.forEach(task => {\n      const uitleg = llmContent.anders_task_uitleg?.[task.taskName] || \n                     'Deze taak is niet geschikt voor automatisering.';\n      nietAutoContent += `\n        <div class=\"non-auto-task\">\n          <div class=\"task-name\">❌ ${task.taskName}</div>\n          <div class=\"task-hours\" style=\"color: #6b7280; font-size: 14px; margin-top: 5px;\">\n            ${task.hours} uur/maand\n          </div>\n        </div>\n        <div class=\"warning-box\">⚠️ ${uitleg}</div>\n      `;\n    });\n    \n    html += createSection('❌ Deze taken zijn niet geschikt voor automatisering', nietAutoContent);\n  }\n\n  // ERGERNISSEN\n  if ((data.ergernissen && data.ergernissen.length > 0) || \n      (data.anders_ergernissen && data.anders_ergernissen.length > 0)) {\n    let ergernissenContent = '';\n    \n    const alleErgernissen = [...(data.ergernissen || []), ...(data.anders_ergernissen || [])];\n    const uniqueErgernissen = [...new Set(alleErgernissen)];\n    \n    uniqueErgernissen.forEach(ergernis => {\n      const oplossing = llmContent.ergernis_oplossingen?.[ergernis] || \n                       'Dit kunnen we aanpakken met slimme automatisering.';\n      ergernissenContent += `\n        <div class=\"insight-box\">\n          <p><span class=\"insight-icon\">🎯</span><strong>${ergernis}</strong> - ${oplossing}</p>\n        </div>\n      `;\n    });\n    \n    html += createSection('🔥 Jouw grootste ergernissen aanpakken', ergernissenContent);\n  }\n\n  // IMPACT ANALYSE\n  let impactContent = '';\n  \n  if (data.systems_count) {\n    impactContent += `<p><strong>Systemen (${data.systems_count}):</strong> ${llmContent.systemen_advies}</p>`;\n  }\n  \n  if (data.fire_percentage) {\n    impactContent += `<p><strong>Brandjes blussen (${data.fire_percentage}%):</strong> ${llmContent.brandjes_advies}</p>`;\n  }\n  \n  if (data.missed_revenue) {\n    impactContent += `<p><strong>Gemiste omzet (${data.missed_revenue}%):</strong> ${llmContent.omzet_advies}</p>`;\n  }\n  \n  if (impactContent) {\n    html += createSection('⚡ Impact op jullie bedrijf', impactContent);\n  }\n\n  // OBSTACLES\n  if (data.obstacles && data.obstacles.length > 0 && data.obstacles[0] !== 'Gewoon oriënteren') {\n    let obstacleContent = '';\n    \n    data.obstacles.forEach(obstacle => {\n      const oplossing = llmContent.obstacle_oplossing?.[obstacle] || \n                       'Wij helpen je dit obstakel te overwinnen.';\n      obstacleContent += `\n        <div class=\"insight-box\">\n          <p><span class=\"insight-icon\">⏰</span><strong>\"${obstacle}\"</strong> - ${oplossing}</p>\n        </div>\n      `;\n    });\n    \n    html += createSection('🚧 Wat houdt je tegen?', obstacleContent);\n  }\n\n  // CTA\n  html += `\n    <div class=\"cta-section\">\n      <h2 style=\"font-size: 28px; margin-bottom: 20px; color: #7c3aed;\">\n        Klaar om ${data.summary.total_potential_hours_saved} uur per maand terug te winnen?\n      </h2>\n      <p style=\"font-size: 18px; margin-bottom: 30px;\">\n        ${llmContent.cta_tekst}\n      </p>\n      <a href=\"https://outlook.office.com/book/Alpacaintegrations1@alpacaintegrations.ai/?ismsaljsauthenabled\" class=\"cta-button\">\n        Plan je kennismaking →\n      </a>\n    </div>\n  `;\n\n  html += `\n      </div>\n    </body>\n    </html>\n  `;\n\n  return html;\n}\n\n// Genereer HTML\nconst html = generateDynamicHTML(data, llmContent);\n\n// Return voor volgende node\nreturn {\n  html: html,\n  filename: `rapport-${data.contact_name || 'klant'}-${Date.now()}.pdf`,\n  contact_name: data.contact_name,\n  email: data.email || null\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12576,
        1975
      ],
      "id": "dec58789-2fe5-412e-a67d-831fd04f9c96",
      "name": "Code"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f4fae942-fbde-4c92-aef4-49518936d507",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        11760,
        1975
      ],
      "id": "a9358121-d85d-4730-95f5-09aa0d0a733c",
      "name": "Webhook email voor rapport",
      "webhookId": "f4fae942-fbde-4c92-aef4-49518936d507"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "scorecard_submissions",
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "keyValue": "={{ $json.body.session_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        11980,
        1975
      ],
      "id": "08239932-7772-4769-bee7-ecb093c49009",
      "name": "Supabase data voor rapport",
      "credentials": {
        "supabaseApi": {
          "id": "fkcmvzJ1VMVkT9FC",
          "name": "Supabase alpaca intern"
        }
      }
    },
    {
      "parameters": {
        "html": "{{ $json.html }}"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        12796,
        1975
      ],
      "id": "6128bed0-0ab8-4cea-bf60-a5e69d8244bd",
      "name": "HTML rapport maken"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "={{ JSON.stringify($json) }}\n"
            },
            {
              "content": "const llmPrompt = `Je bent een AI-automatiseringsexpert die persoonlijke rapporten schrijft voor bedrijven. Schrijf informeel, non technisch en vriendelijk, zoals tegen een collega-ondernemer.\n- Houd elk punt kort en bondig gebruik 1,2 zinnen(maximaal 3) als echt nodig. Maak geen claims of beloftes. Gebruik alleen de feiten uit de data dit is een indicatie op basis van 10 vragen doe geen aannames maar presenteer de feiten op een informele manier\n-\tHet doel van dit rapport is om te laten zien dat ze een probleem hebben of een hoop laten liggen het is niet de bedoeling dat ze zelf gaan uitzoeken hoe ze wat waar kunnen aanpakken. Stuur hier dus niet op aan. Het rapport wijst ze op de problemen/gemiste kansen. Laat ze het potentieel zien. Benadrukt hun pijnpunten om ze vervolgens de mogelijkheid te geven deze op te lossen door een vrijblijvend gesprek met ons.\n- benoem niet hoe moeilijk of makkelijk iets te automatiseren is dat is ons probleem zinnen als bijvoorbeeld dit vereist technisch inzicht niet gebruiken.\nAlleen taken die niet of heel slecht te automatiseren zijn mag je benoemen\n\nBELANGRIJKE DATA:\n${JSON.stringify($json, null, 2)}\n\nSCHRIJF EEN PERSOONLIJK RAPPORT MET DEZE INSTRUCTIES:\n\n1.\"intro_tekst\": \"Met ${$json.team_size} mensen in je ${$json.branche}bedrijf kun je flink wat tijd terugwinnen. We hebben ${$json.summary.total_automatiseerbare_taken} processen gevonden waar direct winst te halen valt.\",. Als ze >60 uur per maand kunnen besparen dan kunnen ze flink wat tijd terug winnen. >150 uur per maand een hele hoop tijd bij <40 uur laat: kun je flink wat tijd terugwinnen weeg. Pas deze zin aan zodat het klopt en het vloeiend nederlands is.\n\n2. **Top 3 intro**: Vertel waar ze moeten beginnen. Focus op de eerste taak uit top_3_tasks als hoogste prioriteit. Het gaat niet alleen op het aantal te besparen uren maar ook om de efficiency van de automatisering (92%-50%) en hoe geschikt de taken zijn 4 is het beste tot 1 om te automatiseren\n\n3. **Per taak uitleg**: \n   - Voor priority taken (isPriority=true): gebruik de llmFeedback die er al is, maar maak het persoonlijker\n   - Voor anders taken: leg uit waarom wel/niet automatiseerbaar\n   - Koppel ergernissen aan taken waar mogelijk( LET OP!! zorg dat dit klopt beter te weinig info onzin maakt ons direct ongeloofwaardig)\n\n4. **Niet-automatiseerbare taken**: Leg uit waarom de taken uit summary.niet_automatiseerbare_taken niet geschikt zijn. Wees specifiek over klantcontact-taken. Waar menselijk contact vereist richt ai meer schade aan dan het oplevert.\n\n5. **Ergernissen**: Behandel ALLE ergernissen uit de data. Vooral anders_ergernissen zijn belangrijk - dit hebben ze zelf ingevuld!\n\n6. **Impact analyse**:\n   - Systemen: Geef advies op basis van systems_count het 1-2 systemen is goed georganiseerd. 3-5 opletten 5+ en te veel risico op data silo’s. Waarschuw hiervoor maar gebruik niet het woord data silo, maar geef non technische uitleg\n   - Brandjes: Analyseer fire_percentage en Gemiste omzet: Bespreek missed_revenue in context van team_size *: brandjes blussen en gemiste omzet <20 is weinig 20-40 medium 41-60 veel 61-80 heel veel >80 extreem veel. leg uit hoe automatisering hierbij kan helpen hebben ze een klein team <13 dan kun je met veel mensen veel efficiënter werken en net zo veel bereiken als bedrijven met 2/3 keer zo veel mensen die ongeorganiseerd werken. Is het team>13 dan levert automatiseren en systemen tijdwinst op en minder brandjes blussen wat een kosten besparing is als er weinig gemiste omzet is en dus meer winst. Laten ze medium of meer omzet liggen dan kan met die tijdsbesparing de omzet omhoog. * obstakel om niet te automatiseren als dit niet is gewoon oriënt\n   \n\n7. **Obstacles**: obstakel om niet te automatiseren als dit niet is gewoon oriënteren. Geef aan hoe wij daar mee kunnen helpen. \n\n8. **CTA**: Maak het persoonlijk met de totale uren besparing\n\nGENEREER DEZE JSON STRUCTUUR (vul dynamisch op basis van de data):\n{\n  \"rapport_content\": {\n    \"rapport_titel\": \"[naam], jouw automatiseringsrapport is klaar\",\n    \"intro_tekst\": \"[persoonlijke intro op basis van data]\",\n    \"top3_intro\": \"[intro voor top 3 taken]\",\n    \"taak_uitleg\": {\n      \"[taskName van taak 1]\": \"[uitleg]\",\n      \"[taskName van taak 2]\": \"[uitleg indien aanwezig]\",\n      \"[taskName van taak 3]\": \"[uitleg indien aanwezig]\"\n    },\n    \"niet_auto_intro\": \"Deze taken zijn niet geschikt voor automatisering:\",\n    \"anders_task_uitleg\": {\n      // Gebruik de EXACTE taskName uit summary.niet_automatiseerbare_taken\n      \"[taskName]\": \"[specifieke reden waarom niet]\"\n    },\n    \"ergernissen_intro\": \"Jouw grootste frustraties aanpakken:\",\n    \"ergernis_oplossingen\": {\n      // Gebruik ALLE ergernissen uit ergernissen EN anders_ergernissen arrays\n      \"[ergernis naam]\": \"[hoe automatisering dit oplost]\"\n    },\n    \"systemen_advies\": \"[advies op basis van systems_count]\",\n    \"brandjes_advies\": \"[advies op basis van fire_percentage]\",\n    \"omzet_advies\": \"[advies op basis van missed_revenue]\",\n    \"obstacle_oplossing\": {\n      // Gebruik ALLE obstacles uit obstacles array\n      \"[obstacle naam]\": \"[oplossing]\"\n    },\n    \"cta_titel\": \"Klaar om [X] uur per maand terug te winnen?\",\n    \"cta_tekst\": \"[persoonlijke CTA tekst]\"\n  },\n  \"original_data\": ${JSON.stringify($json)}\n}\n\nBELANGRIJK:\n- Gebruik de EXACTE namen uit de data voor taken, ergernissen en obstacles\n- Sla geen items over - behandel ALLES wat in de arrays staat\n- Als een array leeg is, laat dan die sectie weg\n- Schrijf alsof je tegen ${$json.contact_name} praat\n- Focus op waarde voor hun specifieke situatie`;\n\n// Voor gebruik in n8n OpenAI node\nreturn {\n  prompt: llmPrompt,\n  model: \"gpt-4\",\n  temperature: 0.7,\n  max_tokens: 2000\n};\n",
              "role": "system"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        12200,
        1975
      ],
      "id": "639ff85c-61bf-4473-804c-274ad66a430e",
      "name": "OpenAI rapport analyse",
      "credentials": {
        "openAiApi": {
          "id": "mP2R3VAiIxGzgpKH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://v2.api2pdf.com/chrome/pdf/html",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        13016,
        1975
      ],
      "id": "57c8556d-24fd-4cd9-8a0e-601f7f9a5fa2",
      "name": "http rapport naar api2pdf",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ndAF1HSRims1PYQL",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.FileUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        13236,
        1975
      ],
      "id": "5d2a13c8-0a20-4205-b923-cbb689f3f9c7",
      "name": "HTTP Request rapport downloaden"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://cxerydabgamthgjkbrao.supabase.co/storage/v1/object/rapporten/{{ $node[\"Supabase data voor rapport\"].json.session_id }}.pdf",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN4ZXJ5ZGFiZ2FtdGhnamticmFvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTI4NjI0ODIsImV4cCI6MjA2ODQzODQ4Mn0.W0p3O2fFgjQR9QJm6f7zIUKpnGAzqu3HwJGyJ35qDdA"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        13456,
        1900
      ],
      "id": "823feca8-c8ec-434f-8196-95ace125f6b3",
      "name": "HTTP Request rapport naar supabase",
      "credentials": {
        "httpHeaderAuth": {
          "id": "zGTXmcUhBc7ILrJn",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "const emailPrompt = `Je bent een vriendelijke automatiseringsexpert die een korte follow-up email schrijft. Ze hebben net een vragen lijst ingevuld en in de bijlage zit het rapport als pdf met alle bevindingen hier hoef je niet op in te gaan. zeg ook niet het rapport zit in de bijlage zeg gewoon hoi hier is je rapport \n\nDATA:\n- Naam: contact_name  \n- automation_potential \n- Totale uren besparing: total_potential_hours_saved  \n\n\nSCHRIJF EEN KORTE INFORMELE EMAIL (max 3 zinnen):\n- Begin met \"Hoi [naam],\"\n- Refereer naar het rapport\n- Bij HOOG potentieel (🔥/⭐/💪): zeg hier heel kort iets over de mogelijkheden\n- Bij LAAG potentieel (🌱/❌): noem dat dit een eerste inschatting is en er zeker mogelijkheden kunnen zijn. Als degene denkt dat er winst te behalen is met automatiseren kan deze contact opnemen\n- Sluit af met CTA: plan gesprek via link of reply op email maak de cta sterk sluit af met Plan gerust een gesprek via de link: https://outlook.office.com/book/Alpacaintegrations1@alpacaintegrations.ai/?ismsaljsauthenabled of reageer gewoon op deze mail. (hierna niet als je je dit of dat dit was het. \n\nsluit af met: \nWarme groet\nTeam alpaca\n\nDit is de exacte link om een gesprek in te plannen https://outlook.office.com/book/Alpacaintegrations1@alpacaintegrations.ai/?ismsaljsauthenabled\n\nGenereer ALLEEN de email body tekst, geen subject line.`;\n\nreturn { prompt: emailPrompt };\n\nBelangrijk!!!\nHou het informeel maar kort begin met hoi \"naam\" hier is je rapport. Zeg GEEN dingen wat tof dat, heel gaaf dat, super vet wat je aan uren, heel cool dat je wilt. Dit klinkt te onvolwassen en \noutput ALTIJD ALS \n\"email_body\":\ndit wordt gebruikt in een workflow klopt dit niet exact dan loopt deze vast",
              "role": "system"
            },
            {
              "content": "={{ $('Supabase data voor rapport').item.json.contact_name }}{{ $('Supabase data voor rapport').item.json.automation_potential }}{{ $('Supabase data voor rapport').item.json.summary.total_potential_hours_saved }}"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        13676,
        1900
      ],
      "id": "52a37f38-9980-4b12-8154-67337513d0a9",
      "name": "OpenAI email schrijven",
      "credentials": {
        "openAiApi": {
          "id": "mP2R3VAiIxGzgpKH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        14052,
        1975
      ],
      "id": "0430b5bb-683f-4bbb-9e0c-eba9205fe0c9",
      "name": "Merge"
    },
    {
      "parameters": {
        "toRecipients": "={{ $('Webhook email voor rapport').item.json.body.email }}           ",
        "subject": "Rapport automatiseringsanalyse",
        "bodyContent": "={{ $json.choices[0].message.content.email_body }}",
        "additionalFields": {
          "attachments": {
            "attachments": [
              {
                "binaryPropertyName": "data"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        14272,
        1975
      ],
      "id": "2e2b0ada-8996-4ec5-a80b-04bc74c35ed9",
      "name": "Microsoft Outlook",
      "webhookId": "710e61e2-515e-4518-b268-849d114af85d",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "ttjIqbN7lrSWhooF",
          "name": "Microsoft Outlook account 2"
        }
      }
    }
  ],
  "pinData": {
    "Webhook email voor rapport": [
      {
        "json": {
          "headers": {
            "host": "hjemj85.app.n8n.cloud",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36",
            "content-length": "213",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "nl,de;q=0.9,nl-NL;q=0.8,en-US;q=0.7,en;q=0.6",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "84.30.178.17",
            "cf-ew-via": "15",
            "cf-ipcountry": "NL",
            "cf-ray": "96535c97c70e55af-AMS",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "origin": "null",
            "priority": "u=1, i",
            "sec-ch-ua": "\"Not)A;Brand\";v=\"8\", \"Chromium\";v=\"138\", \"Google Chrome\";v=\"138\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "84.30.178.17, 104.23.170.118",
            "x-forwarded-host": "hjemj85.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-46-d85945c6c-2gv7b",
            "x-is-trusted": "yes",
            "x-real-ip": "84.30.178.17"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "generate_report",
            "session_id": "25456a49-b631-44c9-a939-c0b2b710ffab",
            "voornaam": "bert",
            "email": "bert@bedrijf.nl",
            "client_id": "e8e19875-41d9-4f4f-88eb-496678586367",
            "timestamp": "2025-07-26T10:54:53.314Z"
          },
          "webhookUrl": "https://hjemj85.app.n8n.cloud/webhook/f4fae942-fbde-4c92-aef4-49518936d507",
          "executionMode": "production"
        }
      }
    ],
    "OpenAI rapport analyse": [
      {
        "json": {
          "id": "chatcmpl-BxZceMxvKImV5V4JB6WuNLWj1Sm1x",
          "object": "chat.completion",
          "created": 1753537984,
          "model": "chatgpt-4o-latest",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": {
                  "rapport_content": {
                    "rapport_titel": "bert, jouw automatiseringsrapport is klaar",
                    "intro_tekst": "Met 54 mensen in je warehousingbedrijf kun je een hele hoop tijd terugwinnen. We hebben 7 processen gevonden waar direct winst te halen valt.",
                    "top3_intro": "Om te beginnen kun je het meeste halen uit het automatiseren van ‘spreadsheets verwerken’. Dit is niet alleen tijdrovend, maar ook bijzonder geschikt om slim aan te pakken – hier valt met 92% tijdsbesparing echt iets te halen.",
                    "taak_uitleg": {
                      "spreadsheets verwerken": "Het verwerken van spreadsheets is vaak repetitief en kost veel tijd. Dit soort taken zijn perfect te stroomlijnen met slimme tools zodat je team die 50 uur ergens anders in kan steken.",
                      "Data analyse": "Data analyse slurpt 60 uur per maand op. Door hier automatisering in te zetten kun je sneller inzichten krijgen zonder dat je iemand er fulltime op hoeft te zetten.",
                      "Data invoeren/overzetten": "Ook het invoeren en overzetten van data – goed voor 50 uur per maand – is een typisch voorbeeld van werk dat makkelijker en efficiënter kan met automatisering."
                    },
                    "niet_auto_intro": "Deze taken zijn niet geschikt voor automatisering:",
                    "anders_task_uitleg": {
                      "presentaties maken": "Presentaties maken vraagt om een persoonlijke en creatieve touch. Hier is het belangrijk dat je boodschap goed overkomt, en dat lukt niet met een standaard AI-script."
                    },
                    "ergernissen_intro": "Jouw grootste frustraties aanpakken:",
                    "ergernis_oplossingen": {
                      "Niks, ik ben zen 🧘": "Toch kost jullie huidige manier van werken nog steeds veel tijd. Automatiseren kan je zen-level vasthouden én wat ruimte in jullie agenda creëren."
                    },
                    "systemen_advies": "Met 3-5 systemen is het wel even opletten. Als niet alles goed op elkaar is aangesloten, loop je het risico dat informatie blijft hangen of dubbel wordt ingevoerd.",
                    "brandjes_advies": "7% van de tijd gaat op aan brandjes blussen. Dat is nog overzichtelijk, maar daar zit winst: door automatisering voorkom je fouten en handmatig werk waardoor je minder hoeft te rennen.",
                    "omzet_advies": "46 uur gemiste omzet per maand is aan de hoge kant. Door processen slimmer in te richten, kun je die tijd besteden aan klanten of nieuwe opdrachten – daar zit groei.",
                    "obstacle_oplossing": {
                      "Bang dat het te complex wordt": "Dat snappen we helemaal. Daarom denken we graag even mee over waar je makkelijk kunt beginnen – je hoeft het echt niet zelf uit te zoeken."
                    },
                    "cta_titel": "Klaar om 274 uur per maand terug te winnen?",
                    "cta_tekst": "bert, jullie laten dus 274 uur per maand liggen op taken die goed te stroomlijnen zijn. Laten we samen kijken waar jullie direct winst kunnen pakken – geheel vrijblijvend natuurlijk."
                  },
                  "original_data": {
                    "id": "8f1f45f9-bce9-48e1-b215-bffe11a4d9ae",
                    "session_id": "25456a49-b631-44c9-a939-c0b2b710ffab",
                    "created_at": "2025-07-26T10:53:51.559+00:00",
                    "branche": "warehousing",
                    "team_size": "54",
                    "tasks": null,
                    "priority_task": null,
                    "priority_reason": null,
                    "total_hours": 420,
                    "systems_count": "3-5 systemen",
                    "ergernissen": [
                      "Niks, ik ben zen 🧘"
                    ],
                    "obstacles": [
                      "Bang dat het te complex wordt"
                    ],
                    "is_zen": false,
                    "is_orientering": false,
                    "fire_percentage": 7,
                    "missed_revenue": 46,
                    "anders_tasks": [
                      "spreadsheets verwerken",
                      "presentaties maken"
                    ],
                    "anders_ergernissen": [],
                    "anders_obstacles": [],
                    "llm_score": null,
                    "llm_analysis": null,
                    "llm_processed_at": null,
                    "client_id": "e8e19875-41d9-4f4f-88eb-496678586367",
                    "has_email": true,
                    "email_provided_at": "2025-07-26T10:54:53.186+00:00",
                    "bedrijfs_omschrijving": "3pl fullfillment voor e-commerce bedrijven met aanvullende diensten zoals marketing klantenservice ed",
                    "source_type": "website",
                    "source_details": null,
                    "automation_potential": "⭐ Heel hoog potentieel",
                    "all_tasks": [
                      {
                        "rank": 1,
                        "hours": 50,
                        "score": 80,
                        "taskName": "spreadsheets verwerken",
                        "taskEmoji": "🚀",
                        "taskLabel": "Quick Win",
                        "isPriority": false,
                        "llmCategory": "Werken met Excel bestanden",
                        "llmWarnings": [],
                        "isAndersTask": true,
                        "llmReasoning": "Taken in spreadsheets zijn vaak repetitief en goed te automatiseren met tools als Excel scripts of workflow tools.",
                        "taskCategory": "⭐ Zeer Hoge Prioriteit",
                        "taskPriority": 3,
                        "hoursCategory": "gemiddeld",
                        "automationScore": 4,
                        "hoursMultiplier": 5,
                        "potentialSaving": 46,
                        "categoryPriority": 2,
                        "savingPercentage": 92,
                        "isAutomatiseerbaar": true
                      },
                      {
                        "rank": 2,
                        "hours": 60,
                        "score": 54,
                        "taskName": "Data analyse",
                        "taskEmoji": "⏰",
                        "taskLabel": "Tijdwinst Topper",
                        "isPriority": false,
                        "isAndersTask": false,
                        "taskCategory": "🎯 Hoge Prioriteit",
                        "taskPriority": 5,
                        "hoursCategory": "veel",
                        "automationScore": 3,
                        "hoursMultiplier": 6,
                        "potentialSaving": 49,
                        "categoryPriority": 3,
                        "savingPercentage": 81,
                        "isAutomatiseerbaar": true
                      },
                      {
                        "rank": 3,
                        "hours": 50,
                        "score": 45,
                        "taskName": "Data invoeren/overzetten",
                        "taskEmoji": "💪",
                        "taskLabel": "Solide Keuze",
                        "isPriority": false,
                        "isAndersTask": false,
                        "taskCategory": "🎯 Hoge Prioriteit",
                        "taskPriority": 7,
                        "hoursCategory": "gemiddeld",
                        "automationScore": 3,
                        "hoursMultiplier": 5,
                        "potentialSaving": 41,
                        "categoryPriority": 3,
                        "savingPercentage": 81,
                        "isAutomatiseerbaar": true
                      },
                      {
                        "rank": 4,
                        "hours": 60,
                        "score": 24,
                        "taskName": "Planning/roosters maken",
                        "taskEmoji": "✨",
                        "taskLabel": "Substantiële Verbetering",
                        "isPriority": false,
                        "isAndersTask": false,
                        "taskCategory": "✅ Top 3 Ondergrens",
                        "taskPriority": 9,
                        "hoursCategory": "veel",
                        "automationScore": 2,
                        "hoursMultiplier": 6,
                        "potentialSaving": 40,
                        "categoryPriority": 4,
                        "savingPercentage": 67,
                        "isAutomatiseerbaar": true
                      },
                      {
                        "rank": 5,
                        "hours": 50,
                        "score": 20,
                        "taskName": "Rapporten maken",
                        "taskEmoji": "👍",
                        "taskLabel": "Degelijke Optie",
                        "isPriority": false,
                        "isAndersTask": false,
                        "taskCategory": "📊 Net Onder Top 3",
                        "taskPriority": 12,
                        "hoursCategory": "gemiddeld",
                        "automationScore": 2,
                        "hoursMultiplier": 5,
                        "potentialSaving": 34,
                        "categoryPriority": 5,
                        "savingPercentage": 67,
                        "isAutomatiseerbaar": true
                      },
                      {
                        "rank": 6,
                        "hours": 50,
                        "score": 20,
                        "taskName": "Herhalende administratieve klussen",
                        "taskEmoji": "👍",
                        "taskLabel": "Degelijke Optie",
                        "isPriority": false,
                        "isAndersTask": false,
                        "taskCategory": "📊 Net Onder Top 3",
                        "taskPriority": 12,
                        "hoursCategory": "gemiddeld",
                        "automationScore": 2,
                        "hoursMultiplier": 5,
                        "potentialSaving": 34,
                        "categoryPriority": 5,
                        "savingPercentage": 67,
                        "isAutomatiseerbaar": true
                      },
                      {
                        "rank": 7,
                        "hours": 60,
                        "score": 6,
                        "taskName": "Documenten archiveren/opslaan",
                        "taskEmoji": "🧩",
                        "taskLabel": "Complexe Massa",
                        "isPriority": false,
                        "isAndersTask": false,
                        "taskCategory": "⚡ Overwegen Bij Specifieke Pijn",
                        "taskPriority": 16,
                        "hoursCategory": "veel",
                        "automationScore": 1,
                        "hoursMultiplier": 6,
                        "potentialSaving": 30,
                        "categoryPriority": 6,
                        "savingPercentage": 50,
                        "isAutomatiseerbaar": true
                      },
                      {
                        "rank": 8,
                        "hours": 40,
                        "score": 0,
                        "taskName": "presentaties maken",
                        "isPriority": true,
                        "isAndersTask": true,
                        "hoursCategory": "gemiddeld",
                        "automationScore": 0,
                        "hoursMultiplier": 4,
                        "potentialSaving": 0
                      }
                    ],
                    "top_3_tasks": [
                      {
                        "rank": 1,
                        "hours": 50,
                        "score": 80,
                        "taskName": "spreadsheets verwerken",
                        "taskEmoji": "🚀",
                        "taskLabel": "Quick Win",
                        "isPriority": false,
                        "llmCategory": "Werken met Excel bestanden",
                        "llmWarnings": [],
                        "isAndersTask": true,
                        "llmReasoning": "Taken in spreadsheets zijn vaak repetitief en goed te automatiseren met tools als Excel scripts of workflow tools.",
                        "taskCategory": "⭐ Zeer Hoge Prioriteit",
                        "taskPriority": 3,
                        "hoursCategory": "gemiddeld",
                        "automationScore": 4,
                        "hoursMultiplier": 5,
                        "potentialSaving": 46,
                        "categoryPriority": 2,
                        "savingPercentage": 92,
                        "isAutomatiseerbaar": true
                      },
                      {
                        "rank": 2,
                        "hours": 60,
                        "score": 54,
                        "taskName": "Data analyse",
                        "taskEmoji": "⏰",
                        "taskLabel": "Tijdwinst Topper",
                        "isPriority": false,
                        "isAndersTask": false,
                        "taskCategory": "🎯 Hoge Prioriteit",
                        "taskPriority": 5,
                        "hoursCategory": "veel",
                        "automationScore": 3,
                        "hoursMultiplier": 6,
                        "potentialSaving": 49,
                        "categoryPriority": 3,
                        "savingPercentage": 81,
                        "isAutomatiseerbaar": true
                      },
                      {
                        "rank": 3,
                        "hours": 50,
                        "score": 45,
                        "taskName": "Data invoeren/overzetten",
                        "taskEmoji": "💪",
                        "taskLabel": "Solide Keuze",
                        "isPriority": false,
                        "isAndersTask": false,
                        "taskCategory": "🎯 Hoge Prioriteit",
                        "taskPriority": 7,
                        "hoursCategory": "gemiddeld",
                        "automationScore": 3,
                        "hoursMultiplier": 5,
                        "potentialSaving": 41,
                        "categoryPriority": 3,
                        "savingPercentage": 81,
                        "isAutomatiseerbaar": true
                      }
                    ],
                    "summary": {
                      "percentage_time_saved": 65,
                      "niet_automatiseerbare_taken": [
                        "presentaties maken"
                      ],
                      "total_potential_hours_saved": 274,
                      "total_automatiseerbare_taken": 7,
                      "gemiddelde_besparing_percentage": 72
                    },
                    "contact_name": "bert",
                    "updated_at": "2025-07-26T10:54:54.425656+00:00"
                  }
                },
                "refusal": null,
                "annotations": []
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "usage": {
            "prompt_tokens": 3005,
            "completion_tokens": 2877,
            "total_tokens": 5882,
            "prompt_tokens_details": {
              "cached_tokens": 0,
              "audio_tokens": 0
            },
            "completion_tokens_details": {
              "reasoning_tokens": 0,
              "audio_tokens": 0,
              "accepted_prediction_tokens": 0,
              "rejected_prediction_tokens": 0
            }
          },
          "service_tier": "default",
          "system_fingerprint": null
        }
      }
    ],
    "HTTP Request rapport naar supabase": [
      {
        "json": {
          "Key": "rapporten/25456a49-b631-44c9-a939-c0b2b710ffab.pdf",
          "Id": "d342d4ac-b145-4fed-8165-b43535d430f4"
        }
      }
    ]
  },
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "HTML rapport maken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook email voor rapport": {
      "main": [
        [
          {
            "node": "Supabase data voor rapport",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase data voor rapport": {
      "main": [
        [
          {
            "node": "OpenAI rapport analyse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML rapport maken": {
      "main": [
        [
          {
            "node": "http rapport naar api2pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI rapport analyse": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "http rapport naar api2pdf": {
      "main": [
        [
          {
            "node": "HTTP Request rapport downloaden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request rapport downloaden": {
      "main": [
        [
          {
            "node": "HTTP Request rapport naar supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request rapport naar supabase": {
      "main": [
        [
          {
            "node": "OpenAI email schrijven",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI email schrijven": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Microsoft Outlook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "440e0d23-9dfe-4bed-9ae5-b041c701c0d3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "197e3373f83fda44e0b7035dd69b207167d454dc1dd053c097ce4d6fbffbff08"
  },
  "id": "iEgjz6fZjrbYdDHe",
  "tags": []
}