docs/chatbot/n8n-workflow.json
{
  "name": "chatbot-flow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://alpacaintegrations.ai,http://localhost:8000"
        }
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "id": "node-webhook"
    },
    {
      "parameters": {
        "filePath": "/data/chatbot/system-prompt.md",
        "options": {}
      },
      "name": "Read system prompt",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [460, 300],
      "id": "node-read-prompt"
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "chatbot_messages",
        "columns": "session_id,role,content",
        "additionalFields": {}
      },
      "name": "Save user message",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 300],
      "id": "node-save-user",
      "credentials": {
        "supabaseApi": {
          "name": "Supabase service role"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{$credentials.anthropicApi.apiKey}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-opus-4-7\",\n  \"max_tokens\": 1024,\n  \"system\": [\n    {\n      \"type\": \"text\",\n      \"text\": $('Read system prompt').first().binary.data.toString('utf8'),\n      \"cache_control\": { \"type\": \"ephemeral\" }\n    }\n  ],\n  \"messages\": $('Webhook').first().json.body.history.concat([{\"role\": \"user\", \"content\": $('Webhook').first().json.body.user_message}]),\n  \"tools\": [\n    {\n      \"name\": \"lead_capture\",\n      \"description\": \"Sla contactgegevens op van een potentiele lead. Gebruik alleen nadat de gebruiker expliciet heeft aangegeven dat ze contact willen.\",\n      \"input_schema\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"naam\": { \"type\": \"string\" },\n          \"contact_voorkeur\": { \"type\": \"string\", \"enum\": [\"email\", \"telefoon\"] },\n          \"email\": { \"type\": \"string\" },\n          \"telefoon\": { \"type\": \"string\" },\n          \"beste_moment\": { \"type\": \"string\" },\n          \"context\": { \"type\": \"string\" }\n        },\n        \"required\": [\"naam\", \"contact_voorkeur\", \"context\"]\n      }\n    },\n    {\n      \"name\": \"verwijs_blog\",\n      \"description\": \"Verwijs de gebruiker naar een relevante blogpost voor meer informatie.\",\n      \"input_schema\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"blog\": { \"type\": \"string\", \"enum\": [\"pillar\", \"voorwaarden\", \"ai\", \"automatisering\", \"processen\", \"tafelgasten\", \"ecommerce\", \"aanvragen\"] }\n        },\n        \"required\": [\"blog\"]\n      }\n    }\n  ]\n}"
      },
      "name": "Anthropic API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "id": "node-anthropic",
      "credentials": {
        "httpHeaderAuth": {
          "name": "Anthropic API key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.stop_reason}}",
              "operation": "equal",
              "value2": "tool_use"
            }
          ]
        }
      },
      "name": "Is tool_use?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1120, 300],
      "id": "node-if-tool"
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "chatbot_leads",
        "columns": "session_id,naam,contact_voorkeur,email,telefoon,beste_moment,context",
        "additionalFields": {}
      },
      "name": "Save lead",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1340, 200],
      "id": "node-save-lead",
      "credentials": {
        "supabaseApi": {
          "name": "Supabase service role"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "letstalk@alpacaintegrations.ai",
        "toEmail": "rick@alpacaintegrations.ai",
        "subject": "=Nieuwe lead via AI subsidie assistent: {{$json.naam}}",
        "emailFormat": "html",
        "html": "={{$json.email_html}}",
        "options": {}
      },
      "name": "Send lead email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1560, 200],
      "id": "node-email",
      "credentials": {
        "smtp": {
          "name": "Office 365 SMTP"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "chatbot_messages",
        "columns": "session_id,role,content,tool_use_json",
        "additionalFields": {}
      },
      "name": "Save assistant message",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1560, 400],
      "id": "node-save-assistant",
      "credentials": {
        "supabaseApi": {
          "name": "Supabase service role"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"assistant_message\": $json.content && $json.content[0] && $json.content[0].text ? $json.content[0].text : '', \"tool_results\": $json.tool_results || [] }",
        "options": {}
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1780, 300],
      "id": "node-respond"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Read system prompt", "type": "main", "index": 0 }]]
    },
    "Read system prompt": {
      "main": [[{ "node": "Save user message", "type": "main", "index": 0 }]]
    },
    "Save user message": {
      "main": [[{ "node": "Anthropic API", "type": "main", "index": 0 }]]
    },
    "Anthropic API": {
      "main": [[{ "node": "Is tool_use?", "type": "main", "index": 0 }]]
    },
    "Is tool_use?": {
      "main": [
        [{ "node": "Save lead", "type": "main", "index": 0 }],
        [{ "node": "Save assistant message", "type": "main", "index": 0 }]
      ]
    },
    "Save lead": {
      "main": [[{ "node": "Send lead email", "type": "main", "index": 0 }]]
    },
    "Send lead email": {
      "main": [[{ "node": "Save assistant message", "type": "main", "index": 0 }]]
    },
    "Save assistant message": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "versionId": "1"
}
