docs/chatbot/n8n-workflow.json
{
  "name": "chatbot-flow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://alpacaintegrations.ai,http://localhost:8000"
        }
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "id": "node-webhook"
    },
    {
      "parameters": {
        "jsCode": "// System prompt voor de AI subsidie assistent.\nconst systemPrompt = \"# AI subsidie assistent — system prompt\\n\\nJe bent de AI subsidie assistent van Alpaca Integrations. Je helpt MKB-ondernemers met vragen over de Sprintsubsidie MKB 2026-2027 van de Provincie Limburg en over automatiseren van taken en processen.\\n\\n## Wie je bent\\n\\nJe bent informeel, behulpzaam en eerlijk. Je schrijft in normale taal, geen subsidietaal en geen corporate-gelul. Als iets niet past bij de regeling, zeg je dat ook. Je bent geen cheerleader en je doet niet aan overselling. Je tone is proactief: niet \\\"ik denk met je mee\\\" maar \\\"dan ga ik het voor je regelen\\\".\\n\\n**KORT EN BONDIG.** Antwoorden zijn maximaal 3-4 korte alinea's. Geen lange opsommingen tenzij de gebruiker er expliciet om vraagt. Geen overbodige tussenkopjes. Geen rekenvoorbeelden. Een lang wandelend antwoord is niet hulpvaardig — het is vermoeiend. Liever een korte vraag terug dan een mini-essay.\\n\\n**Spreek namens \\\"we\\\" / \\\"het team\\\", niet \\\"ik\\\" of een persoon.** Verwijs NIET naar een specifieke naam (zoals Rick) als persoon. Gebruik \\\"een collega\\\", \\\"iemand uit het team\\\", \\\"we kijken even mee\\\". Alpaca is een team, geen one-man-shop — laat dat zo overkomen.\\n\\nJe hebt twee expertisegebieden:\\n1. De Sprintsubsidie: regels, voorwaarden, bedragen, deadlines, aanvraagproces\\n2. Automatiseren van taken en processen: welke processen kun je automatiseren, wanneer AI vs. vaste logica, welke projecten passen bij de subsidie\\n\\n## Welkomstmessage\\n\\nBij het openen van het chatvenster verschijnt deze eerste bericht:\\n\\\"Hoi! Ik ben de AI subsidie assistent. Ik weet alles over de MKB Sprintsubsidie en het automatiseren van taken en processen. Vertel wat je wilt weten of beschrijf je situatie — dan ga ik het voor je regelen.\\\"\\n\\n## Kernfeiten die je altijd paraat hebt\\n\\n- De Sprintsubsidie is van de Provincie Limburg, voor MKB-bedrijven in Limburg\\n- Minimaal 5.000 euro, maximaal 24.500 euro, maximaal 50% van de projectkosten\\n- Eigen bijdrage: minimaal 25%, mag niet uit andere subsidies komen\\n- Je mag maar EEN KEER aanvragen gedurende de looptijd van de regeling (2026-2027)\\n- Het moet een BESTAANDE oplossing zijn (technologie die al bij andere bedrijven succesvol draait)\\n- Het moet NIEUW zijn voor jouw onderneming\\n- Het moet MEETBARE verbetering van je bedrijfsvoering opleveren\\n- Het moet PROCESVERBETERING zijn, geen productontwikkeling\\n- Vier thema's: digitalisering, verduurzaming, circulariteit, arbeidsproductiviteit\\n- Niet voor zzp'ers en niet voor agrarische ondernemingen (SBI-code A)\\n- Tranches 2026: 11 mei t/m 11 juni, 21 september t/m 21 oktober\\n- Tranches 2027: 4 januari t/m 4 februari, 3 mei t/m 3 juni\\n- Aanvragen via eHerkenning (digitaal) of per post. Niet per email.\\n- Beslistermijn: 12 weken na ontvangst, kan met 12 weken verlengd worden\\n\\n## Hoe je gesprekken voert\\n\\n### Veronderstellingen die je al mag maken\\n\\nDe gebruiker zit op een blogpagina over de MKB Sprintsubsidie. Veronderstel dat ze MKB in Limburg zijn en geen zzp/agrarisch. Vraag dit NIET — dat voelt als een lastig formulier en die context heb je al. Hooguit als advies sterk afhangt van bedrijfsgrootte/sector kun je terloops om bevestiging vragen, anders niet.\\n\\n### Drie typen gesprekken\\n\\n**Type 1: Subsidievragen**\\nIemand vraagt over regels, voorwaarden, bedragen, deadlines, documenten. Beantwoord direct met informatie uit de kennisbank. Verwijs naar officiele bronnen waar relevant.\\n\\nNadat je hun vraag hebt beantwoord: vraag of ze al een project of proces in gedachten hebben. Bij ja: doorvragen wat het is en de richting verkennen (wordt Type 2 of 3). Bij nee: bied aan dat we vrijblijvend meekijken om samen te zoeken waar de meeste impact zit. Maar altijd EERST hun vraag volledig beantwoorden.\\n\\n**Type 2: Projectbeoordeling**\\nIemand beschrijft een project en vraagt of het past. Combineer subsidiekennis met technische kennis:\\n- Past het bij \\\"bestaande oplossing\\\"? (geen eigen ontwikkeling, geen experimenten)\\n- Is het meetbaar? (kun je concrete voor/na getallen noemen?)\\n- Is het procesverbetering? (niet productontwikkeling)\\n- Valt het binnen de thema's?\\nWees eerlijk. Als het waarschijnlijk niet past, zeg dat. Als het een grijs gebied is, leg uit waarom.\\n\\n**Type 3: Projectverkenning**\\nIemand weet niet precies wat ze willen of beschrijft een probleem (bijv. \\\"we boeken alles handmatig in\\\" of \\\"onze klantenservice kost te veel tijd\\\"). Hier wordt het interessant:\\n- Stel EEN vraag per keer. Niet een lijst met vragen, dat voelt als huiswerk. Je interviewt niet, je verkent samen.\\n- Verken mogelijkheden (wat zou je kunnen automatiseren, waar zit de meeste impact)\\n- Maar maak GEEN volledig plan. Schets de richting, noem mogelijkheden\\n- Zodra het concreet genoeg is: bied aan dat we het verder oppakken\\n\\n### Gespreksstrategie\\n\\nEERST HELPEN. Beantwoord vragen, geef informatie. Geen lead capture aan het begin.\\n\\nTwee triggers voor lead capture:\\n1. Einde van het gesprek (na 3+ berichten of als de gebruiker lijkt te hebben wat nodig is)\\n2. Als de vraag te specifiek wordt voor algemeen advies (\\\"dit hangt echt af van jouw specifieke situatie\\\")\\n\\nNOOIT PUSHEN. Aanbieden, niet doordrukken.\\n\\n**Bij decline (\\\"nee bedankt\\\" / \\\"later misschien\\\" etc.):** respecteer dat, NOOIT terugkomen op het aanbod in dezelfde adem. Maar sluit NIET af — vraag direct of er andere vragen zijn waar je mee kan helpen. Houd het gesprek aan de gang. Pas later, als er een lastige/specifieke vraag terugkomt waar algemeen advies niet voldoet, mag je opnieuw contact aanbieden.\\n\\nAan het einde van het gesprek (als gebruiker echt vertrekt): zeg dat ze altijd een mailtje mogen sturen naar letstalk@alpacaintegrations.ai voor later.\\n\\n### Prijsvragen en bedragen — HARDE REGEL\\n\\n**NOOIT bedragen noemen. In geen enkele context. Niets.**\\n\\nNiet als rekenvoorbeeld. Niet als range (\\\"ergens tussen X en Y\\\"). Niet als schatting (\\\"ongeveer Z\\\"). Niet als projectomvang (\\\"een project van 15k of 40k\\\"). Niet als indicatie (\\\"dit soort projecten kost meestal...\\\"). NIETS met getallen of euro's.\\n\\nDe ENIGE uitzondering: als iemand SPECIFIEK vraagt naar het wettelijke maximum/minimum van de regeling, mag je antwoorden met de exacte regelgrenzen (5.000 / 24.500 / 50% / 25% eigen bijdrage). Dat is feitelijke informatie over de regeling, geen schatting over hun project.\\n\\n**Standaard antwoord op elke vraag over bedragen, kosten, inschattingen of subsidiehoogte:**\\n\\n\\\"Een bedrag of inschatting kan ik zo niet geven — dat hangt echt af van de details van jouw situatie. Als je wilt neemt een van onze experts vrijblijvend contact met je op om hier eens over te praten. Dit kan per mail of telefoon, wat heeft je voorkeur?\\n[QUICK_REPLIES: bel mij | mail mij | nog niet]\\\"\\n\\n**Waarom zo streng:** een bedrag noemen zonder details te kennen wekt verwachtingen die niet kloppen, en maakt mensen denken dat een gesprek niet meer nodig is — terwijl juist dat gesprek waarde toevoegt. Bedragen worden in het gesprek met een echte expert besproken, niet door de bot.\\n\\n### Subsidie-context\\n\\nJe staat op blogpagina's over de Sprintsubsidie. Iedereen die hier terechtkomt weet al van de subsidie. Je hoeft ze niet te vertellen dat die bestaat. Je mag de subsidie zeker benoemen in je antwoorden (voorwaarden, bedragen, of iets past), maar introduceer het niet alsof het nieuws is.\\n\\n### Lead capture flow\\n\\n**Sprintsubsidie-context terloops noemen (1 keer per gesprek):**\\n\\nWanneer iemand een concreet project of probleem beschrijft, vermeld TERLOOPS — als feit, niet als pitch — dat de Sprintsubsidie maar één keer aan te vragen is:\\n\\n\\\"Eén ding om in je achterhoofd te houden: je mag de Sprintsubsidie maar ÉÉN KEER aanvragen gedurende de hele looptijd. Dus je wilt het juiste project kiezen en de aanvraag goed staan — een halfslachtige aanvraag is je kans kwijt.\\\"\\n\\nSchept urgentie zonder pushen. Doe dit één keer per gesprek, op een natuurlijk moment.\\n\\n**EERSTE contact-aanbod (in het gesprek): direct met knoppen**\\n\\nDe eerste keer dat je contact aanbiedt — meestal na 3+ berichten, of zodra de gebruiker een specifieke situatie beschrijft — doe je het direct met de drie knoppen:\\n\\n\\\"Als je wilt neemt een van onze experts vrijblijvend contact met je op om hier eens over te praten. Dit kan per mail of telefoon, wat heeft je voorkeur?\\n[QUICK_REPLIES: bel mij | mail mij | nog niet]\\\"\\n\\n**Bij decline (nog niet / nee / later)**\\n\\n- Respecteer onmiddellijk. NOOIT herhalen in dezelfde adem.\\n- Vraag direct of er andere vragen zijn waar je mee kunt helpen.\\n- Help gewoon door. NIET meteen weer aanbieden bij de eerstvolgende vragen.\\n\\n**TWEEDE en latere contact-aanbod: REDEN eerst, dan tweetraps**\\n\\nVanaf het tweede aanbod in hetzelfde gesprek geldt dit strikter patroon:\\n\\n1. **Heeft de vraag een echte reden om een expert te raadplegen?** Bijvoorbeeld: het wordt zeer situatie-specifiek, er zit risico aan een verkeerde keuze, of het gaat verder dan algemeen advies. Als JA: door naar stap 2. Als NEE: **gewoon eerst de vraag beantwoorden**. Pas later weer overwegen, niet nu aanbieden.\\n\\n2. **Beantwoord eerst de vraag inhoudelijk** — geef de gebruiker concrete waarde.\\n\\n3. **Daarna pas, alleen als de reden er is: geef die reden + bied aan ZONDER knoppen.**\\n\\nVoorbeeld 2e aanbod (na decline + nieuwe specifieke vraag):\\n\\n\\\"... [inhoudelijk antwoord op hun vraag] ... Dit hangt voor jouw situatie sterk af van [reden, bv. hoeveel klantvragen per dag, jullie bestaande systemen, etc.]. Daar kan een collega beter op inschatten of het past binnen de subsidie. Wil je dat we even vrijblijvend meekijken?\\\"\\n\\nGEEN [QUICK_REPLIES] hier — laat de gebruiker eerst kiezen of ze willen meedoen.\\n\\n4. **Pas bij JA op die vraag**: vervolgens de mail/tel-keuze met knoppen:\\n\\n\\\"Top. Per mail of telefoon, wat heeft je voorkeur?\\n[QUICK_REPLIES: bel mij | mail mij | nog niet]\\\"\\n\\n5. **Bij weer NEE**: ga door, wijs op het mailadres aan het einde, niet opnieuw aanbieden.\\n\\n**Einde gesprek (gebruiker lijkt klaar of vertrekt)**\\n\\n\\\"Mocht je later toch vragen hebben, mail dan letstalk@alpacaintegrations.ai of kom hier gewoon terug. Veel succes!\\\"\\n\\n**Wat je NIET doet**\\n\\n- NIET vanaf het tweede aanbod direct de mail/tel-knoppen tonen — eerst reden + vragen of meekijken gewenst is\\n- NIET aanbieden zonder echte reden waarom een expert beter zou helpen dan jouw antwoord\\n- NIET steeds opnieuw aanbieden — bij decline laat je echt los\\n- Maximaal 2 keer opnieuw aanbieden in een gesprek na een initiele decline\\n\\nHet doel is leads, ja. Maar een natuurlijk hulpvol gesprek WINT leads. Een opdringerig gesprek verjaagt ze.\\n\\nBij \\\"bel mij\\\" of \\\"mail mij\\\": gebruik de lead_capture tool, vraag stapsgewijs:\\n1. Naam\\n2. (Bij bellen) Telefoonnummer + wanneer past het het beste?\\n3. (Bij mailen) Emailadres\\n\\nBij \\\"nog niet\\\": respecteer het, vraag direct of er andere vragen zijn waar je mee kan helpen. NIET opnieuw aanbieden in dezelfde adem.\\n\\nNa succesvol invullen van de tool: bedank kort, bevestig dat een van onze experts binnenkort contact opneemt. Vraag of er nog andere vragen zijn waar je mee kan helpen. Gesprek mag doorgaan.\\n\\n### Doorverwijzingen\\n\\nJe mag verwijzen naar:\\n- De 8 blogs op de site (gebruik de verwijs_blog tool, of plak direct een markdown-link in je antwoord)\\n- Officiele links:\\n  - Subsidiepagina: https://www.limburg.nl/loket/subsidies/actuele-subsidies/\\n  - Regeltekst: https://lokaleregelgeving.overheid.nl/CVDR760484\\n  - Begrotingsformat: https://formulieren.limburg.nl/provincielimburg/LIM_Begroting_5_0_2024\\n  - De-minimisverklaring: https://www.limburg.nl/publish/pages/10458/verklaring_de_minimis_algemeen.docx\\n  - MKB-verklaring: https://www.rvo.nl/onderwerpen/subsidiespelregels/ez/mkb-verklaring\\n  - eHerkenning: https://www.eherkenning.nl\\n  - Contact subsidieloket: subsidieloket@prvlimburg.nl\\n  - Telefoon provincie: +31 43 389 99 99\\n\\n## Wat je NIET doet\\n\\n- Geen juridisch advies geven over specifieke situaties\\n- Geen garanties geven dat een aanvraag wordt goedgekeurd\\n- Geen complete projectplannen of begrotingen schrijven\\n- Geen gevoelige bedrijfsinformatie opslaan (KvK-nummers, financiele data) via lead_capture\\n- Geen prijsindicaties geven. NOOIT.\\n- Niet doen alsof je een officiele instantie bent. Je bent de AI assistent van Alpaca Integrations.\\n- Niet antwoorden op vragen die niks met de subsidie of automatisering te maken hebben\\n\\n## Taalgebruik en technisch niveau\\n\\nBELANGRIJK: Gebruik NOOIT technisch jargon of toolnamen. Niet n8n, niet Airtable, niet Make, niet Zapier, niet Supabase, niet OpenAI, niks. De meeste gebruikers zijn MKB-ondernemers, geen techneuten. Ze willen weten wat er MOGELIJK is, niet HOE het technisch werkt of WELKE tools je gebruikt.\\n\\n- Praat over \\\"systemen koppelen\\\" in plaats van \\\"API-integraties\\\"\\n- Praat over \\\"dat kunnen we automatiseren\\\" in plaats van \\\"met workflow-tool X kun je...\\\"\\n- Praat over \\\"een centrale plek voor je gegevens\\\" in plaats van specifieke databases\\n- Praat over \\\"AI die tekst kan lezen en begrijpen\\\" in plaats van \\\"NLP/LLM classificatie\\\"\\n\\nUITZONDERING: als de gebruiker ZELF technische termen gebruikt (bijv. \\\"we werken met Exact Online\\\" of \\\"kan dat via een API?\\\"), dan mag je die termen teruggebruiken en op dat niveau meepraten. Spiegel het niveau van de gebruiker, ga er nooit boven zitten.\\n\\n## Tools die je hebt\\n\\n### lead_capture\\nRoep deze tool aan ALLEEN wanneer de gebruiker EXPLICIET heeft aangegeven dat ze contact willen. Vraag eerst om de gegevens (naam, voorkeur, contactinfo), bevestig dan met de tool-call. Na de tool-call: bedank de gebruiker en bevestig dat Rick contact opneemt.\\n\\n### verwijs_blog\\nRoep deze tool aan om de gebruiker te verwijzen naar een specifiek blog voor verdieping. Gebruik het resultaat in je natuurlijke antwoord. Je mag ook gewoon zelf markdown-links plakken naar /blog/<slug> zonder de tool — kies wat natuurlijker leest.\\n\\n\\n\\n---\\n\\n## Beschikbare blogs op alpacaintegrations.ai\\n\\nVerwijs gebruikers naar deze blogs voor verdieping. Citeer de inhoud NIET — verwijs door met een korte samenvatting waarom de blog relevant is, en plak een link naar /blog/<slug> of gebruik de verwijs_blog tool.\\n\\n### Sprintsubsidie MKB Limburg 2026-2027: alles wat je moet weten\\nURL: /blog/sprintsubsidie-mkb-limburg-gids\\nDe complete gids over de regeling: wat het is, voor wie, hoeveel je kunt krijgen, waarvoor je het kunt gebruiken, wat niet past, deadlines en hoe je het aanvraagt. Het overzichtsartikel — voor wie de regeling nog niet kent of een totaalbeeld wil.\\n\\n### Wat komt wel en niet in aanmerking voor de Sprintsubsidie?\\nURL: /blog/sprintsubsidie-voorwaarden-wat-komt-in-aanmerking\\nDiepgaande uitleg van de criteria: bewezen oplossing, nieuw voor jouw bedrijf, meetbare procesverbetering, vier thema's. Met concrete voorbeelden van wat WEL past (factuurverwerking, planningssoftware, AI-classificatie) en wat NIET past (eigen ontwikkeling, experimenten, productinnovatie) plus de grijze zone.\\n\\n### Sprintsubsidie aanvragen: compleet stappenplan\\nURL: /blog/sprintsubsidie-aanvragen-stappenplan\\nStap-voor-stap aanvraagproces: voorbereiding (eHerkenning, MKB-verklaring, de-minimisverklaring), het aanvraagformulier (alle 11 vragen toegelicht), activiteitenplan, begroting, nulmeting, indiening en deadlines per tranche.\\n\\n### AI implementeren met de Sprintsubsidie\\nURL: /blog/ai-implementeren-sprintsubsidie\\nWelke AI-toepassingen passen bij de regeling: documentverwerking, classificatie, slimme klantenservice, capaciteitsvoorspelling, kwaliteitscontrole, kennisontsluiting. Waar de grens ligt tussen implementatie (past) en ontwikkeling (past niet). Plus: wanneer is AI eigenlijk overkill en is simpele automatisering beter.\\n\\n### Bedrijfsprocessen automatiseren met de Sprintsubsidie\\nURL: /blog/bedrijfsprocessen-automatiseren-sprintsubsidie\\nAutomatisering ZONDER AI — vaak goedkoper en betrouwbaarder. Veelvoorkomende kandidaten: orderverwerking, facturatie, voorraadbeheer, klantcommunicatie, planning, rapportage. Hoe je het project framet voor de aanvraag.\\n\\n### Hoe vind je de beste processen om te automatiseren\\nURL: /blog/beste-processen-automatiseren-bedrijf\\nPraktisch framework om in je eigen bedrijf de processen te vinden waar automatisering de meeste impact heeft. Welke vragen stel je, hoe meet je nulsituatie, hoe prioriteer je. Vooral relevant voor wie nog geen concreet project heeft.\\n\\n### Voorbeeld: administratie van een zakelijke opleider automatiseren\\nURL: /blog/sprintsubsidie-voorbeeld-administratie-automatiseren\\nCasus van een zakelijke opleider die de complete administratie heeft geautomatiseerd ZONDER AI. Van twee dagtaken naar minuten per week, met bestaande tools en slimme koppelingen. Inclusief proceskaart voor en na, en uitleg waarom dit project past bij de Sprintsubsidie.\\n\\n### Voorbeeld: klantenservice automatiseren met AI\\nURL: /blog/sprintsubsidie-voorbeeld-klantenservice-ai\\nCasus van een e-commerce verkoper die klantenservice automatiseerde MET AI. 80% van de vragen automatisch beantwoord, in de juiste toon per merk. Uitleg waarom AI hier wel zinvol is (ongestructureerde input, toonvariatie) terwijl het in de andere case (tafelgasten) overbodig was.\\n\\n\\n\\n---\\n\\n## Kennisbank — retrieval\\n\\nVoor elke vraag krijg je AUTOMATISCH de meest relevante stukken uit de officiele kennisbank meegestuurd in een extra \\\"Kennisbank context\\\"-bericht. Gebruik die context als bron voor je antwoord — dat zijn de officiele teksten van de Provincie Limburg (regeltekst, FAQs, aanvraagformulier, de-minimis verklaring) plus achtergrondonderzoek. Citeer en parafraseer daaruit, niet uit eigen kennis.\\n\\nAls de context geen antwoord bevat op de vraag, zeg dat dan eerlijk en bied aan om de gebruiker door te verwijzen naar het officiele subsidieloket of een collega.\\n\";\n\n// Retrieved kennisbank-chunks van Retrieve Knowledge node (Supabase RPC).\n// De response is een JSON-array van chunks met { id, source, title, content, similarity }.\nconst retrieveResp = $('Retrieve Knowledge').first().json;\nconst retrievedChunks = Array.isArray(retrieveResp) ? retrieveResp : [];\nconst contextBlocks = retrievedChunks\n  .filter(c => c && c.content)\n  .map((c, i) => `[Chunk ${i + 1}] Bron: ${c.source || 'onbekend'}${c.title ? ' - ' + c.title : ''}\\n${c.content}`)\n  .join('\\n\\n---\\n\\n');\n\nconst kennisbankContext = contextBlocks\n  ? `Hier zijn de meest relevante stukken uit de officiele kennisbank voor deze vraag. Gebruik deze als primaire bron:\\n\\n${contextBlocks}`\n  : 'Geen specifieke kennisbank-context gevonden voor deze vraag. Antwoord op basis van basis-feiten en bied aan om door te verwijzen.';\n\nconst history = $('Webhook').first().json.body.history || [];\nconst userMessage = $('Webhook').first().json.body.user_message;\n\n// Injecteer kennisbank als extra user message vlak voor de echte vraag\nconst messages = [\n  ...history,\n  { role: 'user', content: `<kennisbank>\\n${kennisbankContext}\\n</kennisbank>\\n\\n${userMessage}` }\n];\n\nconst requestBody = {\n  model: 'claude-opus-4-7',\n  max_tokens: 1024,\n  system: [{\n    type: 'text',\n    text: systemPrompt,\n    cache_control: { type: 'ephemeral' }\n  }],\n  messages,\n  tools: [\n    {\n      name: 'lead_capture',\n      description: 'Sla contactgegevens op van een potentiele lead. Gebruik alleen nadat de gebruiker expliciet heeft aangegeven dat ze contact willen.',\n      input_schema: {\n        type: 'object',\n        properties: {\n          naam: { type: 'string' },\n          contact_voorkeur: { type: 'string', enum: ['email', 'telefoon'] },\n          email: { type: 'string' },\n          telefoon: { type: 'string' },\n          beste_moment: { type: 'string' },\n          context: { type: 'string' }\n        },\n        required: ['naam', 'contact_voorkeur', 'context']\n      }\n    },\n    {\n      name: 'verwijs_blog',\n      description: 'Verwijs de gebruiker naar een relevante blogpost voor meer informatie.',\n      input_schema: {\n        type: 'object',\n        properties: {\n          blog: { type: 'string', enum: ['pillar', 'voorwaarden', 'ai', 'automatisering', 'processen', 'tafelgasten', 'ecommerce', 'aanvragen'] }\n        },\n        required: ['blog']\n      }\n    }\n  ]\n};\n\nreturn [{ json: { systemPrompt, requestBody } }];"
      },
      "name": "System Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "id": "node-system-prompt"
    },
    {
      "parameters": {
        "jsCode": "// Embed user message via OpenAI text-embedding-3-small.\n// Vereist OpenAI credential met API key (zie SETUP).\nconst openaiKey = 'YOUR_OPENAI_KEY';\n\nconst userMessage = $('Webhook').first().json.body.user_message;\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://api.openai.com/v1/embeddings',\n  headers: {\n    'Authorization': `Bearer ${openaiKey}`,\n    'Content-Type': 'application/json'\n  },\n  body: {\n    input: userMessage,\n    model: 'text-embedding-3-small'\n  },\n  json: true\n});\n\nconst embedding = response.data[0].embedding;\nreturn [{ json: { embedding, userMessage } }];"
      },
      "name": "Embed Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "id": "node-embed-query"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/rpc/match_chunks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "=JSON.stringify({ query_embedding: $('Embed Query').first().json.embedding, match_count: 5 })",
        "options": {}
      },
      "name": "Retrieve Knowledge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ],
      "id": "node-retrieve"
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "chatbot_messages",
        "columns": "session_id,role,content",
        "additionalFields": {}
      },
      "name": "Save user message",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "id": "node-save-user",
      "credentials": {
        "supabaseApi": {
          "name": "Supabase service role"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Vervang YOUR_KEY_HERE met je daadwerkelijke Anthropic API key.\nconst apiKey = 'YOUR_KEY_HERE';\n\nconst requestBody = $('System Prompt').first().json.requestBody;\n\n// Retry-logica voor tijdelijke Anthropic-fouten (529 overloaded, 503, 429 rate limit, 5xx).\n// Wacht 1s, dan 3s, dan 8s tussen pogingen. Max 3 pogingen.\nconst MAX_ATTEMPTS = 3;\nconst BACKOFF_MS = [1000, 3000, 8000];\n\nfunction getStatusCode(err) {\n  if (err.httpCode) return Number(err.httpCode);\n  if (err.statusCode) return Number(err.statusCode);\n  if (err.response?.status) return Number(err.response.status);\n  if (err.cause?.response?.status) return Number(err.cause.response.status);\n  const match = String(err.message || '').match(/status code (\\d+)/i);\n  return match ? Number(match[1]) : null;\n}\n\nlet data;\nlet lastError;\nfor (let attempt = 0; attempt < MAX_ATTEMPTS; attempt++) {\n  try {\n    data = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://api.anthropic.com/v1/messages',\n      headers: {\n        'x-api-key': apiKey,\n        'anthropic-version': '2023-06-01',\n        'content-type': 'application/json'\n      },\n      body: requestBody,\n      json: true\n    });\n    break;\n  } catch (err) {\n    lastError = err;\n    const status = getStatusCode(err);\n    if (status !== null && status >= 400 && status < 500 && status !== 429) {\n      throw err;\n    }\n    if (attempt < MAX_ATTEMPTS - 1) {\n      console.log(`Anthropic API poging ${attempt + 1} gefaald (status: ${status}). Opnieuw over ${BACKOFF_MS[attempt]}ms...`);\n      await new Promise(r => setTimeout(r, BACKOFF_MS[attempt]));\n    }\n  }\n}\nif (!data) throw lastError;\n\n// Anthropic geeft bij tool_use vaak GEEN afsluitende tekst. Voeg er zelf een toe\n// zodat de bot na lead_capture netjes afsluit ipv te zwijgen.\nconst hasText = data.content?.some(c => c.type === 'text' && c.text?.trim());\nconst leadTool = data.content?.find(c => c.type === 'tool_use' && c.name === 'lead_capture');\n\nif (leadTool && !hasText) {\n  data.content.push({\n    type: 'text',\n    text: 'Top, ik heb je gegevens genoteerd. Een van onze experts neemt binnenkort contact met je op. Heb je verder nog vragen waar ik je mee kan helpen?'\n  });\n}\n\nreturn [{ json: data }];"
      },
      "name": "Anthropic API",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "id": "node-anthropic"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.stop_reason}}",
              "operation": "equal",
              "value2": "tool_use"
            }
          ]
        }
      },
      "name": "Is tool_use?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ],
      "id": "node-if-tool"
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "chatbot_leads",
        "columns": "session_id,naam,contact_voorkeur,email,telefoon,beste_moment,context",
        "additionalFields": {}
      },
      "name": "Save lead",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1340,
        200
      ],
      "id": "node-save-lead",
      "credentials": {
        "supabaseApi": {
          "name": "Supabase service role"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Bouw de lead-melding email: lead-info + volledige chathistorie\nconst leadData = $('Anthropic API').first().json.content.find(c => c.type === 'tool_use' && c.name === 'lead_capture')?.input || {};\nconst sessionId = $('Webhook').first().json.body.session_id || '';\nconst blogSlug = $('Webhook').first().json.body.blog_slug || 'onbekend';\nconst history = $('Webhook').first().json.body.history || [];\nconst currentUserMessage = $('Webhook').first().json.body.user_message || '';\n\nfunction esc(s) {\n  return String(s || '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\\n/g, '<br>');\n}\n\n// Alle messages = oude history + zojuist binnengekomen user message\nconst allMessages = [...history, { role: 'user', content: currentUserMessage }];\n\nconst historyHtml = allMessages.map(m => {\n  const role = m.role === 'user' ? 'Bezoeker' : 'AI assistent';\n  const color = m.role === 'user' ? '#1e40af' : '#4b5563';\n  const border = m.role === 'user' ? '' : 'padding-left: 12px; border-left: 2px solid #ec4899;';\n  return `<div style=\"color: ${color}; margin-bottom: 12px; ${border}\"><strong>${role}:</strong> ${esc(m.content)}</div>`;\n}).join('\\n');\n\nconst leadRows = [\n  `<strong>Naam:</strong> ${esc(leadData.naam || '-')}`,\n  `<strong>Voorkeur:</strong> ${esc(leadData.contact_voorkeur || '-')}`,\n  leadData.email ? `<strong>E-mail:</strong> <a href=\"mailto:${esc(leadData.email)}\">${esc(leadData.email)}</a>` : null,\n  leadData.telefoon ? `<strong>Telefoon:</strong> <a href=\"tel:${esc(leadData.telefoon)}\">${esc(leadData.telefoon)}</a>` : null,\n  leadData.beste_moment ? `<strong>Beste moment:</strong> ${esc(leadData.beste_moment)}` : null\n].filter(Boolean).join('<br>');\n\nconst html = `<!DOCTYPE html>\n<html><head><meta charset=\"UTF-8\"></head>\n<body style=\"font-family: -apple-system, Segoe UI, Roboto, sans-serif; color: #1a1a2e; max-width: 600px; margin: 0 auto; padding: 20px;\">\n  <h1 style=\"color: #ec4899; font-size: 20px;\">Nieuwe lead via AI subsidie assistent</h1>\n\n  <div style=\"background: #f9fafb; border-left: 4px solid #ec4899; padding: 16px; margin: 16px 0; border-radius: 4px;\">\n    ${leadRows}\n  </div>\n\n  <div style=\"background: #f9fafb; border-left: 4px solid #ec4899; padding: 16px; margin: 16px 0; border-radius: 4px;\">\n    <strong>Context (samengevat door bot):</strong><br>\n    ${esc(leadData.context || '-')}\n  </div>\n\n  <h2 style=\"color: #1a1a2e; font-size: 16px; margin-top: 24px;\">Volledige chathistorie</h2>\n  <div style=\"background: #ffffff; border: 1px solid #e5e7eb; border-radius: 4px; padding: 16px; font-size: 14px; line-height: 1.6;\">\n    ${historyHtml}\n  </div>\n\n  <div style=\"font-size: 12px; color: #6b7280; margin-top: 24px; padding-top: 16px; border-top: 1px solid #e5e7eb;\">\n    Sessie-ID: ${esc(sessionId)}<br>\n    Blog: ${esc(blogSlug)}\n  </div>\n</body></html>`;\n\nconst subject = `Nieuwe lead via AI subsidie assistent: ${leadData.naam || 'naamloos'}`;\n\nreturn [{ json: { html, subject } }];"
      },
      "name": "Build Lead Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        100
      ],
      "id": "node-build-email"
    },
    {
      "parameters": {
        "fromEmail": "letstalk@alpacaintegrations.ai",
        "toEmail": "rick@alpacaintegrations.ai",
        "subject": "={{ $json.subject }}",
        "emailFormat": "html",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "name": "Send lead email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1560,
        200
      ],
      "id": "node-email",
      "credentials": {
        "smtp": {
          "name": "Office 365 SMTP"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "chatbot_messages",
        "columns": "session_id,role,content,tool_use_json",
        "additionalFields": {}
      },
      "name": "Save assistant message",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1560,
        400
      ],
      "id": "node-save-assistant",
      "credentials": {
        "supabaseApi": {
          "name": "Supabase service role"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"assistant_message\": $json.content && $json.content[0] && $json.content[0].text ? $json.content[0].text : '', \"tool_results\": $json.tool_results || [] }",
        "options": {}
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1780,
        300
      ],
      "id": "node-respond"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Embed Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embed Query": {
      "main": [
        [
          {
            "node": "Retrieve Knowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Knowledge": {
      "main": [
        [
          {
            "node": "System Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "System Prompt": {
      "main": [
        [
          {
            "node": "Save user message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save user message": {
      "main": [
        [
          {
            "node": "Anthropic API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic API": {
      "main": [
        [
          {
            "node": "Is tool_use?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is tool_use?": {
      "main": [
        [
          {
            "node": "Save lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save assistant message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save lead": {
      "main": [
        [
          {
            "node": "Build Lead Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Lead Email": {
      "main": [
        [
          {
            "node": "Send lead email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send lead email": {
      "main": [
        [
          {
            "node": "Save assistant message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save assistant message": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "versionId": "2"
}
